doctype

html
  head
    meta(charset='UTF-8')
    title = title
    meta(name='viewport' content='width=device-width, user-scalable=no')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    link(rel='stylesheet' href='/main.css')
  body
    .main_header
      .title
        a(href='/') LimT
      .main_gnb
        if user && user.id
          user-name="[ '안녕하세요"+ " "+ user.nick+ ""+ "님' ]"
          a(href='/auth/logout') 로그아웃
        else
          a(href='/login') 로그인
          a(href='/join') 회원가입
    .top_menu_bar
      .top_menu
        .top_menu_1
          a(href='/') 게시판
        .top_menu_2
          a(href='/') 메뉴2
        .top_menu_3
          a(href='/') 메뉴3
        .top_menu_4
          a(href='/') 메뉴4
        .top_menu_5
          a(href='/') 메뉴5  
    .section_1
      button#write_btn(type='button' onclick="location.href='/write'") 글쓰기
    .section_2
      .section_table
        table(width='100%')
          thead
            tr
              th(scope='cols' width='10%') 번호
              th(scope='cols' width='60%') 제목
              th(scope='cols' width='10%') 조회
              th(scope='cols' width='10%') 날짜
              th(scope='cols' width='10%') 글쓴이
          for post in posts
            tr
              td= post.id
              td 
                a(href='/board/'+ post.id)=post.title
              td= post.count
              td= 날짜
              td= post.writer

            